In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("to_bimal_sir.csv")

In [3]:
data.head()

,city,state,street,streetSuffix,zip,latitude,longitude,landUseDescription,zoningDescription,lotSizeAcres,...,totalStories,totalRooms,bedrooms,baths,heating,airConditioning,foundation,fireplace,soldYear,housePrice
0,Lilburn,GA,Rockbridge,Rd,30047.0,33.869442,-84.146196,Single Family Residential,R100-Single Family Residence,0.42,...,1.0,8.0,3.0,2.0,Forced air,Yes,Crawl Space/Raised,Masonry,2021,179300
1,LILBURN,GA,Others,Others,30047.0,0.000000,0.000000,Single Family Residential,R100-Single Family Residence,0.46,...,2.0,6.0,3.0,3.0,Forced air,Yes,Others,Masonry,2021,210500
2,Lilburn,GA,Lancaster,Ct,30047.0,33.873587,-84.151627,Cluster Home,R1-Single Family Residence LIL,0.45,...,2.0,8.0,4.0,3.0,Forced air,Yes,Others,Masonry,2021,251400
3,Lilburn,GA,Coteau,Pl,30047.0,33.871266,-84.149586,Single Family Residential,R100-Single Family Residence,0.43,...,1.0,6.0,3.0,2.0,Forced air,Yes,Others,Masonry,2021,215400
4,Lilburn,GA,Coeur,Pl,30047.0,33.870719,-84.148716,Single Family Residential,R1-Single Family Residence LIL,0.57,...,1.0,6.0,3.0,2.0,Forced air,Yes,Crawl Space/Raised,Masonry,2021,191800

In [6]:
interest = data[["zip", "housePrice"]]

In [7]:
interest.head()

       zip  housePrice
0  30047.0      179300
1  30047.0      210500
2  30047.0      251400
3  30047.0      215400
4  30047.0      191800

In [8]:
len(interest)

217493

In [13]:
groups = interest.groupby("zip")

In [15]:
len(groups.first())

27

In [21]:
averagePrice = interest.groupby('zip', as_index=False)['housePrice'].mean()

In [19]:
len(interest["zip"].unique())

27

In [23]:
averagePrice

        zip     housePrice
0   30011.0  249114.803625
1   30017.0  255085.531639
2   30019.0  259172.933816
3   30024.0  300842.121068
4   30039.0  190396.165820
5   30043.0  232956.126226
6   30044.0  205660.866035
7   30045.0  221078.039738
8   30046.0  181540.578147
9   30047.0  224924.845243
10  30052.0  212057.924393
11  30071.0  194222.241750
12  30078.0  216347.823575
13  30084.0  223518.644068
14  30087.0  190259.904153
15  30092.0  285565.623495
16  30093.0  158177.523452
17  30096.0  234157.055489
18  30097.0  300500.503062
19  30340.0  154318.413021
20  30350.0  442300.000000
21  30360.0  266008.921438
22  30517.0  239202.112676
23  30518.0  243527.092600
24  30519.0  254437.963954
25  30548.0  296705.911330
26  30620.0  232841.607898

In [25]:
averagePrice.to_csv("zipAveragePrice.csv", index=False)