In [ ]:
import pandas as pd

In [ ]:
!gdown --id "1qJ32LjVhrXWc2lzUerk4kGNPE8Sz0Gkp"

Downloading...
From: https://drive.google.com/uc?id=1qJ32LjVhrXWc2lzUerk4kGNPE8Sz0Gkp
To: /content/2019_assessments_fips_113135_gwinnett.csv
100% 137M/137M [00:01<00:00, 83.8MB/s]

In [ ]:
orig_data = pd.read_csv("2019_assessments_fips_113135_gwinnett.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
data = orig_data.copy()

In [ ]:
data.columns

Index(['apn', 'address.full', 'address.city', 'address.state', 'address.house',
       'address.street', 'address.streetSuffix', 'address.unit', 'address.zip',
       'address.zip4', 'fips', 'state', 'county', 'coordinates.lat',
       'coordinates.long', 'censusTract', 'taxID', 'taxAmount', 'taxYear',
       'totalValue', 'marketValueYear', 'marketLandValue',
       'marketImprovementValue', 'marketTotalValue', 'landUseGeneral',
       'landUseCode', 'landUseDescription', 'zoningDescription',
       'lotSizeAcres', 'lotSizeSquareFeet', 'lotTopography',
       'numberOfBuildings', 'url', 'id', 'building.noOfUnits',
       'building.quality', 'building.condition', 'building.architecturalStyle',
       'building.yearBuilt', 'building.totalStories', 'building.totalRooms',
       'building.bedrooms', 'building.baths', 'building.heating',
       'building.airConditioning', 'building.foundation', 'building.fireplace',
       'building.water', 'building.sewer'],
      dtype='object')

In [ ]:
data.head()

          apn  ... building.sewer
0  6-112 -030  ...            NaN
1  6-112 -032  ...            NaN
2  6-114 -241  ...            NaN
3  6-114 -258  ...            NaN
4  6-114 -260  ...            NaN

[5 rows x 49 columns]

In [ ]:
dump_df = pd.DataFrame()

In [ ]:
# "apn" may also not be the potential feature for the regression model, we put it into the "dump_df"
dump_df["apn"] = data["apn"]
dump_df.head()

          apn
0  6-112 -030
1  6-112 -032
2  6-114 -241
3  6-114 -258
4  6-114 -260

In [ ]:
# Dropping the column "apn" from "data"
data = data.drop(columns="apn")
data.head()

                             address.full  ... building.sewer
0   510 Village Green Ct Lilburn GA 30047  ...            NaN
1   540 Village Green Ct Lilburn GA 30047  ...            NaN
2        2 5133 Arbor Ln Lilburn GA 30047  ...            NaN
3        4 215 Shunn Way Lilburn GA 30047  ...            NaN
4        4 195 Shunn Way Lilburn GA 30047  ...            NaN

[5 rows x 48 columns]

In [ ]:
# Since we have divided the address to city, house and siffix and zip code
# We do not need the full address; Keeping it in dump_df

dump_df["address.full"] = data["address.full"]
dump_df.head()

          apn                            address.full
0  6-112 -030   510 Village Green Ct Lilburn GA 30047
1  6-112 -032   540 Village Green Ct Lilburn GA 30047
2  6-114 -241        2 5133 Arbor Ln Lilburn GA 30047
3  6-114 -258        4 215 Shunn Way Lilburn GA 30047
4  6-114 -260        4 195 Shunn Way Lilburn GA 30047

In [ ]:
data = data.drop(columns="address.full")
data.head()

  address.city address.state  ... building.water building.sewer
0      Lilburn            GA  ...            Yes            NaN
1      Lilburn            GA  ...            Yes            NaN
2      Lilburn            GA  ...            Yes            NaN
3      Lilburn            GA  ...            Yes            NaN
4      Lilburn            GA  ...            Yes            NaN

[5 rows x 47 columns]

In [ ]:
new_data = pd.DataFrame()

In [ ]:
print(data["address.city"].unique())

# We need the city. We keep the column and convert all the values into lower case
# We add them to new_data
data["address.city"] = data["address.city"]
# Whats the point of the line above this comment? - Joed
new_data["city"] = data["address.city"]
new_data.head()

['Lilburn' 'TUCKER' 'Stone Mountain' 'Tucker' 'LILBURN' 'Lawrenceville'
 'Snellville' 'BUFORD' 'LAWRENCEVILLE' 'STONE MOUNTAIN' 'SNELLVILLE'
 'Loganville' 'Dacula' 'DACULA' 'Norcross' 'Bethlehem' 'BETHLEHEM'
 'NORCROSS' 'Auburn' 'AUBURN' 'Buford' 'Duluth' 'Atlanta' nan 'DULUTH'
 'Suwanee' 'SUWANEE' 'Peachtree Corners' 'PEACHTREE CORNERS' 'ATLANTA'
 'Grayson' 'LOGANVILLE' 'GRAYSON' 'Hoschton' 'Braselton' 'BRASELTON'
 'HOSCHTON' 'CONYERS' 'Conyers' 'Lithonia' 'Cumming']

      city
0  Lilburn
1  Lilburn
2  Lilburn
3  Lilburn
4  Lilburn

In [ ]:
data = data.drop(columns="address.city")
data.head()

  address.state address.house  ... building.water building.sewer
0            GA           510  ...            Yes            NaN
1            GA           540  ...            Yes            NaN
2            GA          5133  ...            Yes            NaN
3            GA           215  ...            Yes            NaN
4            GA           195  ...            Yes            NaN

[5 rows x 46 columns]

In [ ]:
# These are required: address.state,	address.house,	address.street, address.streetSuffix,	address.unit,	address.zip,	address.zip4
# Adding them to new_data
temp_df = data.iloc[:,:7]
temp_cols = list(temp_df.columns)
print(temp_cols)
new_cols = list(map(lambda x: x.split('.')[1], temp_cols))
temp_cols_dict = dict(zip(temp_cols, new_cols))
print(temp_cols_dict)

['address.state', 'address.house', 'address.street', 'address.streetSuffix', 'address.unit', 'address.zip', 'address.zip4']
{'address.state': 'state', 'address.house': 'house', 'address.street': 'street', 'address.streetSuffix': 'streetSuffix', 'address.unit': 'unit', 'address.zip': 'zip', 'address.zip4': 'zip4'}

In [ ]:
# We keep the State, House Number, Street Name, suffix, unit and zip code
# State is only one, but can be anything -> We might want to encode all the 50 state of USA
temp_df = temp_df.rename(columns=temp_cols_dict)
new_data = pd.concat([new_data, temp_df], axis=1)
new_data.head()

      city state house         street streetSuffix unit      zip  zip4
0  Lilburn    GA   510  Village Green           Ct  NaN  30047.0   NaN
1  Lilburn    GA   540  Village Green           Ct  NaN  30047.0   NaN
2  Lilburn    GA  5133          Arbor           Ln    2  30047.0   NaN
3  Lilburn    GA   215          Shunn          Way    4  30047.0   NaN
4  Lilburn    GA   195          Shunn          Way    4  30047.0   NaN

In [ ]:
data = data.drop(columns=temp_cols)
data.head()

    fips state  ... building.water  building.sewer
0  13135    GA  ...            Yes             NaN
1  13135    GA  ...            Yes             NaN
2  13135    GA  ...            Yes             NaN
3  13135    GA  ...            Yes             NaN
4  13135    GA  ...            Yes             NaN

[5 rows x 39 columns]

In [ ]:
# We don't need "fips" since it has only single value, adding to dump_df
print(data["fips"].unique())

dump_df["fips"] = data["fips"]
dump_df.head()

[13135]

          apn                            address.full   fips
0  6-112 -030   510 Village Green Ct Lilburn GA 30047  13135
1  6-112 -032   540 Village Green Ct Lilburn GA 30047  13135
2  6-114 -241        2 5133 Arbor Ln Lilburn GA 30047  13135
3  6-114 -258        4 215 Shunn Way Lilburn GA 30047  13135
4  6-114 -260        4 195 Shunn Way Lilburn GA 30047  13135

In [ ]:
data = data.drop(columns="fips")
data.head()

  state           county  ...  building.water  building.sewer
0    GA  Gwinnett County  ...             Yes             NaN
1    GA  Gwinnett County  ...             Yes             NaN
2    GA  Gwinnett County  ...             Yes             NaN
3    GA  Gwinnett County  ...             Yes             NaN
4    GA  Gwinnett County  ...             Yes             NaN

[5 rows x 38 columns]

In [ ]:
print(data["county"].unique())

#Only "Gwinnett County" -> Can be dropped
dump_df["county"] = data["county"]
dump_df.head()

['Gwinnett County']

          apn                            address.full   fips           county
0  6-112 -030   510 Village Green Ct Lilburn GA 30047  13135  Gwinnett County
1  6-112 -032   540 Village Green Ct Lilburn GA 30047  13135  Gwinnett County
2  6-114 -241        2 5133 Arbor Ln Lilburn GA 30047  13135  Gwinnett County
3  6-114 -258        4 215 Shunn Way Lilburn GA 30047  13135  Gwinnett County
4  6-114 -260        4 195 Shunn Way Lilburn GA 30047  13135  Gwinnett County

In [ ]:
data = data.drop(columns="county")
data.head()

  state  coordinates.lat  ...  building.water  building.sewer
0    GA        33.873543  ...             Yes             NaN
1    GA        33.872805  ...             Yes             NaN
2    GA        33.867538  ...             Yes             NaN
3    GA        33.869804  ...             Yes             NaN
4    GA        33.870027  ...             Yes             NaN

[5 rows x 37 columns]

In [ ]:
print(data["state"].unique())

# Already loaded
dump_df["state"] = data["state"]
dump_df.head()

['GA']

          apn                            address.full  ...           county state
0  6-112 -030   510 Village Green Ct Lilburn GA 30047  ...  Gwinnett County    GA
1  6-112 -032   540 Village Green Ct Lilburn GA 30047  ...  Gwinnett County    GA
2  6-114 -241        2 5133 Arbor Ln Lilburn GA 30047  ...  Gwinnett County    GA
3  6-114 -258        4 215 Shunn Way Lilburn GA 30047  ...  Gwinnett County    GA
4  6-114 -260        4 195 Shunn Way Lilburn GA 30047  ...  Gwinnett County    GA

[5 rows x 5 columns]

In [ ]:
data = data.drop(columns="state")
data.head()

   coordinates.lat  coordinates.long  ...  building.water  building.sewer
0        33.873543        -84.117197  ...             Yes             NaN
1        33.872805        -84.116702  ...             Yes             NaN
2        33.867538        -84.137380  ...             Yes             NaN
3        33.869804        -84.139034  ...             Yes             NaN
4        33.870027        -84.138435  ...             Yes             NaN

[5 rows x 36 columns]

In [ ]:
# We keep latitude, longitude
temp_df = data.iloc[:,:2]
temp_cols = list(temp_df.columns)
new_cols = ["latitude","longitude"]
temp_cols_dict = dict(zip(temp_cols, new_cols))
print(temp_cols_dict)

{'coordinates.lat': 'latitude', 'coordinates.long': 'longitude'}

In [ ]:
temp_df = temp_df.rename(columns=temp_cols_dict)
new_data = pd.concat([new_data, temp_df], axis=1)
new_data.head()

      city state house         street  ...      zip zip4   latitude  longitude
0  Lilburn    GA   510  Village Green  ...  30047.0  NaN  33.873543 -84.117197
1  Lilburn    GA   540  Village Green  ...  30047.0  NaN  33.872805 -84.116702
2  Lilburn    GA  5133          Arbor  ...  30047.0  NaN  33.867538 -84.137380
3  Lilburn    GA   215          Shunn  ...  30047.0  NaN  33.869804 -84.139034
4  Lilburn    GA   195          Shunn  ...  30047.0  NaN  33.870027 -84.138435

[5 rows x 10 columns]

In [ ]:
data = data.drop(columns=temp_cols)
data.head()

    censusTract  taxID  ...  building.water  building.sewer
0  1.313505e+14    NaN  ...             Yes             NaN
1  1.313505e+14    NaN  ...             Yes             NaN
2  1.313505e+14    NaN  ...             Yes             NaN
3  1.313505e+14    NaN  ...             Yes             NaN
4  1.313505e+14    NaN  ...             Yes             NaN

[5 rows x 34 columns]

In [ ]:
print(data["censusTract"].unique())

# What is censusTract? Do we need it? Lets keep it in confusion_df and remove from "data"
confusion_df = pd.DataFrame()
confusion_df["censusTract"] = data["censusTract"]
confusion_df.head()

[1.31350504e+14 1.31350504e+14 1.31350504e+14 ... 1.31350506e+14
 1.31350505e+14 1.31350502e+14]

    censusTract
0  1.313505e+14
1  1.313505e+14
2  1.313505e+14
3  1.313505e+14
4  1.313505e+14

In [ ]:
data = data.drop(columns="censusTract")
data.head()

   taxID  taxAmount  taxYear  ...  building.fireplace  building.water  building.sewer
0    NaN     706.77   2019.0  ...             Masonry             Yes             NaN
1    NaN    2683.31   2019.0  ...             Masonry             Yes             NaN
2    NaN    3110.38   2019.0  ...             Masonry             Yes             NaN
3    NaN    2583.50   2019.0  ...             Masonry             Yes             NaN
4    NaN    2776.53   2019.0  ...             Masonry             Yes             NaN

[5 rows x 33 columns]

In [ ]:
print(data["taxID"].unique())

# We don't have taxID, since no value, so add to dump_df
dump_df["taxID"] = data["taxID"]
dump_df.head()

[nan]

          apn                            address.full  ...  state taxID
0  6-112 -030   510 Village Green Ct Lilburn GA 30047  ...     GA   NaN
1  6-112 -032   540 Village Green Ct Lilburn GA 30047  ...     GA   NaN
2  6-114 -241        2 5133 Arbor Ln Lilburn GA 30047  ...     GA   NaN
3  6-114 -258        4 215 Shunn Way Lilburn GA 30047  ...     GA   NaN
4  6-114 -260        4 195 Shunn Way Lilburn GA 30047  ...     GA   NaN

[5 rows x 6 columns]

In [ ]:
data = data.drop(columns=["taxID"])
data.head()

   taxAmount  taxYear  ...  building.water  building.sewer
0     706.77   2019.0  ...             Yes             NaN
1    2683.31   2019.0  ...             Yes             NaN
2    3110.38   2019.0  ...             Yes             NaN
3    2583.50   2019.0  ...             Yes             NaN
4    2776.53   2019.0  ...             Yes             NaN

[5 rows x 32 columns]

In [ ]:
# How are we going to process the taxAmount and taxYear, are they the direct features for Regression Model? For now lets keep in confusion_df
confusion_df = pd.concat([confusion_df, data.iloc[:,:2]], axis=1)
confusion_df.head()

    censusTract  taxAmount  taxYear
0  1.313505e+14     706.77   2019.0
1  1.313505e+14    2683.31   2019.0
2  1.313505e+14    3110.38   2019.0
3  1.313505e+14    2583.50   2019.0
4  1.313505e+14    2776.53   2019.0

In [ ]:
data = data.drop(columns=["taxAmount", "taxYear"])
data.head()

   totalValue  marketValueYear  ...  building.water  building.sewer
0       80120           2019.0  ...             Yes             NaN
1       77520           2019.0  ...             Yes             NaN
2       79000           2019.0  ...             Yes             NaN
3       81880           2019.0  ...             Yes             NaN
4       78360           2019.0  ...             Yes             NaN

[5 rows x 30 columns]

In [ ]:
# What is totalValue? For now lets keep it in "confusion_df"
confusion_df["totalValue"] = data["totalValue"]
confusion_df.head()

    censusTract  taxAmount  taxYear  totalValue
0  1.313505e+14     706.77   2019.0       80120
1  1.313505e+14    2683.31   2019.0       77520
2  1.313505e+14    3110.38   2019.0       79000
3  1.313505e+14    2583.50   2019.0       81880
4  1.313505e+14    2776.53   2019.0       78360

In [ ]:
data.drop(columns="totalValue", inplace=True)
data.head()

   marketValueYear  marketLandValue  ...  building.water  building.sewer
0           2019.0            42000  ...             Yes             NaN
1           2019.0            42000  ...             Yes             NaN
2           2019.0            46000  ...             Yes             NaN
3           2019.0            46000  ...             Yes             NaN
4           2019.0            46000  ...             Yes             NaN

[5 rows x 29 columns]

In [ ]:
print(data.marketValueYear.unique())

# Since there is only 2019, we may not include this, but still the data could be of any years, so lets add it to confusion_df
confusion_df["marketValueYear"] = data["marketValueYear"]
confusion_df.head()

[2019.   nan]

    censusTract  taxAmount  taxYear  totalValue  marketValueYear
0  1.313505e+14     706.77   2019.0       80120           2019.0
1  1.313505e+14    2683.31   2019.0       77520           2019.0
2  1.313505e+14    3110.38   2019.0       79000           2019.0
3  1.313505e+14    2583.50   2019.0       81880           2019.0
4  1.313505e+14    2776.53   2019.0       78360           2019.0

In [ ]:
data.drop(columns="marketValueYear", inplace=True)
data.head()

   marketLandValue  marketImprovementValue  ...  building.water building.sewer
0            42000                  158300  ...             Yes            NaN
1            42000                  151800  ...             Yes            NaN
2            46000                  151500  ...             Yes            NaN
3            46000                  158700  ...             Yes            NaN
4            46000                  149900  ...             Yes            NaN

[5 rows x 28 columns]

In [ ]:
# Now since the marketTotalValue is the addition of marketLandValue and marketImprovementValue, we can just keep the marketTotalValue,
# which is the label to be predicted by our regresison model

housePrice = data.marketTotalValue.rename("housePrice")
print(housePrice)

0         200300
1         193800
2         197500
3         204700
4         195900
           ...
286920    329200
286921    341300
286922    262200
286923    282100
286924    273200
Name: housePrice, Length: 286925, dtype: int64

In [ ]:
# We keep the marketLandValue and marketImprovementValue into the confusion_df, and remove from data
confusion_df["marketLandValue"] = data["marketLandValue"]
confusion_df["marketImprovementValue"] = data["marketImprovementValue"]
confusion_df.head()

    censusTract  taxAmount  ...  marketLandValue  marketImprovementValue
0  1.313505e+14     706.77  ...            42000                  158300
1  1.313505e+14    2683.31  ...            42000                  151800
2  1.313505e+14    3110.38  ...            46000                  151500
3  1.313505e+14    2583.50  ...            46000                  158700
4  1.313505e+14    2776.53  ...            46000                  149900

[5 rows x 7 columns]

In [ ]:
data = data.drop(columns=["marketLandValue", "marketImprovementValue", "marketTotalValue"])
data.head()

  landUseGeneral landUseCode  ... building.water building.sewer
0             RR       RR101  ...            Yes            NaN
1             RR       RR101  ...            Yes            NaN
2             RR       RR101  ...            Yes            NaN
3             RR       RR101  ...            Yes            NaN
4             RR       RR101  ...            Yes            NaN

[5 rows x 25 columns]

In [ ]:
print(data.landUseGeneral.unique())
print(data.landUseCode.unique())

['RR' 'EI' 'IN' 'VL' 'RI' 'CR' 'CO' 'MS' 'RC' 'GV' 'IH' 'CM' 'TR']
['RR101' 'EI109' 'IN104' 'RR105' 'VL101' 'RR106' 'RI101' 'RI102' 'EI102'
 'VL106' 'VL102' 'CR000' 'CO109' 'CR123' 'CR109' 'VL000' 'CO108' 'CO105'
 'CO101' 'CR112' 'RR104' 'RI112' 'CR117' 'CR110' 'RR103' 'CR149' 'MS000'
 'CR130' 'CR111' 'RI107' 'CR106' 'EI107' 'RI111' 'IN000' 'CR107' 'CR131'
 'RR118' 'RC108' 'CR124' 'RC115' 'CR119' 'GV101' 'EI000' 'IN103' 'RC107'
 'CR128' 'CR134' 'CR105' 'CR122' 'CR145' 'CR137' 'GV107' 'IH101' 'VL111'
 'RC120' 'CM102' 'CR108' 'IH120' 'GV108' 'IH106' 'GV102' 'RR000' 'GV000'
 'CR121' 'RC101' 'RC116' 'RC112' 'CO000' 'TR101' 'VL108' 'VL104' 'CR143'
 'CO107' 'RC111' 'RC000' 'GV112' 'RR999' 'CR139' 'RI104' 'GV117' 'RC130'
 'EI105' 'CR125' 'CR126' 'RC104' 'RC102' 'GV104' 'CR138' 'IN114' 'IN110'
 'RC106' 'CR115' 'RC109' 'CR120' 'CR127' 'MS199' 'CR133' 'RC105']

In [ ]:
# What is the meaning of landUseGeneral and landUseCode? Lets add them to the "confusion_df" for now

confusion_df = pd.concat([confusion_df, data.iloc[:,0:2]], axis=1)
confusion_df.head()

    censusTract  taxAmount  ...  landUseGeneral  landUseCode
0  1.313505e+14     706.77  ...              RR        RR101
1  1.313505e+14    2683.31  ...              RR        RR101
2  1.313505e+14    3110.38  ...              RR        RR101
3  1.313505e+14    2583.50  ...              RR        RR101
4  1.313505e+14    2776.53  ...              RR        RR101

[5 rows x 9 columns]

In [ ]:
data.drop(columns=["landUseGeneral", "landUseCode"], inplace=True)
data.head()

          landUseDescription  ... building.sewer
0  Single Family Residential  ...            NaN
1  Single Family Residential  ...            NaN
2  Single Family Residential  ...            NaN
3  Single Family Residential  ...            NaN
4  Single Family Residential  ...            NaN

[5 rows x 23 columns]

In [ ]:
print(data["landUseDescription"].unique())

# We keep the landUseDescription in the new_data
new_data["landUseDescription"] = data.landUseDescription
new_data.head()

['Single Family Residential' 'Cemetery' 'Storage Yard' 'Cluster Home'
 'Residential Vacant Land' 'Condominium' 'Duplex (2 Units'
 'Triplex (3 Units' 'Church' 'Government Vacant Land'
 'Commercial Vacant Land' 'Commercial - General' 'Financial Building'
 'Auto Repair' 'Grocery' 'Vacant Land - General' 'Medical Building'
 'Office Building' 'Commercial/Office/Residential Mixed Used' 'Fast Food'
 'Townhouse' 'Apartment (Generic)' 'Convenience Store' 'Veterinary'
 'Mobile Home' 'Drug Store Pharmacy' 'Miscellaneous' 'Mini-Warehouse'
 'Restaurant' 'High-Rise Apartment' 'Mall' 'Home (Nursing'
 'Fraternity House' 'Industrial - General' 'Shopping Plaza' 'Day Care'
 'Miscellaneous Improvement' 'Museum' 'Car Wash' 'Fitness Center'
 'Service Station - Full Service' 'Public School'
 'Exempt - Full Or Partial' 'Warehouse' 'Club' 'Wholesale Outlet'
 'Hotel/Motel' 'Department Store Multi-Story'
 'Vehicle Rentals And Vehicle Sales' 'Nightclub' 'Parking Garage'
 'Emergency' 'Distribution Warehouse' 'Water Area (Lake' 'Theater' 'Radio'
 'Neighborhood Shopping Center' 'Bulk Storage' 'City' 'Mill' 'College'
 'Residential General' 'Governmental/Public Use - General' 'Truck Stop'
 'Recreation Center' 'Dance Hall' 'Auditorium'
 'Commercial Office - General' 'Airport And Related' 'Agricultural'
 'Open Space' 'Kennel' 'Dental Building' 'Arena'
 'Recreational/Entertainment - General' 'Hospital - Public'
 'Inferred Single Family Residential' 'Funeral Home'
 'Apartment Building (5+ Units)' 'Correctional Facility' 'Racquet Court'
 'Hospital - Private' 'Dry Cleaner' 'Service Shop' 'Bowling Alley'
 'Public Swimming Pool' 'Post Office' 'Parking Lot'
 'Lumber & Wood Products Mfg' 'Laboratory' 'Ice Skating Rink' 'Bar'
 'Country Club' 'Service Station With Convenience Store' 'Florist'
 'Improved' 'Motel' 'Arcade']

      city state house  ...   latitude  longitude         landUseDescription
0  Lilburn    GA   510  ...  33.873543 -84.117197  Single Family Residential
1  Lilburn    GA   540  ...  33.872805 -84.116702  Single Family Residential
2  Lilburn    GA  5133  ...  33.867538 -84.137380  Single Family Residential
3  Lilburn    GA   215  ...  33.869804 -84.139034  Single Family Residential
4  Lilburn    GA   195  ...  33.870027 -84.138435  Single Family Residential

[5 rows x 11 columns]

In [ ]:
data.drop(columns=["landUseDescription"], inplace=True)
data.head()

                zoningDescription  lotSizeAcres  ...  building.water building.sewer
0    R100-Single Family Residence          0.46  ...             Yes            NaN
1    R100-Single Family Residence          0.41  ...             Yes            NaN
2    R100-Single Family Residence          0.41  ...             Yes            NaN
3    R100-Single Family Residence          0.44  ...             Yes            NaN
4  R1-Single Family Residence LIL          0.44  ...             Yes            NaN

[5 rows x 22 columns]

In [ ]:
print(data["zoningDescription"].unique())

# We keep the zoningDescription in the new_data
new_data["zoningDescription"] = data.zoningDescription
new_data.head()

['R100-Single Family Residence' 'R1-Single Family Residence LIL'
 'M1-Light Industry' 'RZT-S F R-Zero Lot Line/Twnhse'
 'R60-Single Family Residence' 'R75-Single Family Residence'
 'RM6-Multi-family Res.-Duplex' 'RM-Multi-family Residence'
 'R75CLU-Single-Family Res Dist' 'RMD-Multi-family Res.-Duplex'
 'R100MOD-Single-Family Res Dist' 'OI-Office-Institutional' nan
 'C2-General Business' 'R100CSO-Single-Family Cons SD'
 'R75MOD-Single-Family Res Dist' 'RS180-Single Family Residence'
 'R140-Single Family Residence' 'RA200-Agriculture/Residence'
 'R100CLU-Single-Family Res Dist' 'RTH-Single Family Res-Twnhse'
 'OP-Office Professional' 'BG-General Business'
 'R1200-Single Family Residence' 'MUR-Overlay District' 'MU-Mixed Use'
 'R2-Single Family Residence LIL' 'IA-Industrial Activity'
 'CB-Commercial Business' 'TND-Traditional NBHD Dev Dist'
 'C1-NBHD Business' 'RM8-Multi-family Residence'
 'R1400-Single Family Residence' 'TRD-Single Family Residence'
 'C3-Highway Business District' 'RM10-Multi-family Residence'
 'R75CSO-SFR Conservation SD' 'R1600-Single Family Residence'
 'OSC-Open Space Cons. District' 'RM13-Multi-family Residence'
 'R65-Single Family Residence' 'PRD-Planned Residential Dev'
 'M2-Heavy Industry' 'PUD-Planned Unit Development'
 'RS150-Single Family Residence' 'RM24-Residential Multi Family' '8T'
 'C2A-General Comm. W/Alcohol' 'MUO-Mixed-Use Overlay District'
 'GCA-Gwinnett County Annexed' 'PMUD-Planned Mixed Use Develop'
 'HC-Highway Commercial' 'HM1-Light Industry'
 'RS100PRD-MD SFR/Planned ResDev' 'R85-Single Family Residence'
 'LM-Light Manufacturing' 'RS100-Single Family Residence'
 'MH-Mobile Home Park' 'RL-Lakeside Residence'
 'CSD-Conservation Subdivision' 'P-Public Use' 'ON-Office Neighborhood'
 'CBD-Commercial Central Busines' 'RA101-Residential Agricultural'
 'PUB-Public Buildings' 'P6' 'HSB-Highway Service Business'
 'M-Modified Residential' 'TO-Trails and Open Space'
 'MHS-Manf. Home Subdivision' 'RM12-Residential Multi Family'
 'HM-Heavy Manufacturing' 'RS120-Single Family Residence'
 'RS60-Single Family Residence' 'PRC-Planned Residential Center'
 'R3-Single Family Res High Dens' 'R22-Single Family Residence'
 'IRD-Infill Res District' 'AF-Agricultural Forest'
 'HRR-High Rise Residential Dist' 'L2' 'RS200-Agricultural'
 'DCD-Design Concept Dev Dist' 'CI-Civic Institutional' '6R'
 'CPDC-Core Preserv Dist-Comm' 'AR-Agriculture/Residence'
 'RHOP62CC-Cont Care Campus 62' 'RG75-Multi-family Res.-Duplex'
 'BN-NBHD Business' 'R16-Single Family Residence'
 'RSR-Senior Oriented Residence' 'R4-Single Family Residence'
 'BGC-Central General Business' 'BGC' 'CH-Commercial Highway'
 'R44-Single Family Residence' 'LI-Light Industrial'
 'RMM-MultiFamily Res District' 'MUD-Mixed-Use Development' 'C4' 'O3'
 'R-HOP(55)-SF-SFR HSE OLD PERS' 'HM2-Heavy Industry' '9R'
 'ODW-Office-Distribut-Warehouse' 'R6-Single Family Residence'
 'OBP-Office-Business Park' 'RD-Research And Development'
 'OTCD-Old Town Comm District' '3S' 'NS-Neighborhood Shopping'
 'I-Light Industrial' 'CPDR-Core Preserv Dist-Res' 'RA100-Agricultural'
 'B1' 'HS-Hospital Service' 'RM4-Multi-family Residence' 'B2'
 'OR-Office Residential District' 'RMHR-MultiFamily Res HighRise'
 'R1100-Single Family Residence' 'ARM-Agricultural Residential' 'H2'
 'PCD-Planned Comm Development' 'B3']

      city state  ...         landUseDescription               zoningDescription
0  Lilburn    GA  ...  Single Family Residential    R100-Single Family Residence
1  Lilburn    GA  ...  Single Family Residential    R100-Single Family Residence
2  Lilburn    GA  ...  Single Family Residential    R100-Single Family Residence
3  Lilburn    GA  ...  Single Family Residential    R100-Single Family Residence
4  Lilburn    GA  ...  Single Family Residential  R1-Single Family Residence LIL

[5 rows x 12 columns]

In [ ]:
data.drop(columns=["zoningDescription"], inplace=True)
data.head()

   lotSizeAcres  lotSizeSquareFeet  ... building.water  building.sewer
0          0.46            20037.6  ...            Yes             NaN
1          0.41            17859.6  ...            Yes             NaN
2          0.41            17859.6  ...            Yes             NaN
3          0.44            19166.4  ...            Yes             NaN
4          0.44            19166.4  ...            Yes             NaN

[5 rows x 21 columns]

In [ ]:
# We keep the lotSizeAcres, lotSizeSquareFeet	and lotTopography in the new_data
new_data = pd.concat([new_data, data.iloc[:, :3]], axis=1)
new_data.head()

      city state house  ... lotSizeAcres lotSizeSquareFeet   lotTopography
0  Lilburn    GA   510  ...         0.46           20037.6   Low Elevation
1  Lilburn    GA   540  ...         0.41           17859.6   Low Elevation
2  Lilburn    GA  5133  ...         0.41           17859.6  High Elevation
3  Lilburn    GA   215  ...         0.44           19166.4     Level Grade
4  Lilburn    GA   195  ...         0.44           19166.4  High Elevation

[5 rows x 15 columns]

In [ ]:
data = data.drop(columns=["lotSizeAcres", "lotSizeSquareFeet", "lotTopography"])
data.head()

   numberOfBuildings  ... building.sewer
0                  1  ...            NaN
1                  1  ...            NaN
2                  1  ...            NaN
3                  1  ...            NaN
4                  1  ...            NaN

[5 rows x 18 columns]

In [ ]:
print(data.numberOfBuildings.unique())

# Which number is this talking about? Buildings in a neighbourhood or building owned by the apartment? Should we separate houses and buildings?
# For now, lets keep it in confusion_df
confusion_df["numberOfBuildings"] = data.numberOfBuildings
confusion_df.head()

[1 2 0 3]

    censusTract  taxAmount  ...  landUseCode  numberOfBuildings
0  1.313505e+14     706.77  ...        RR101                  1
1  1.313505e+14    2683.31  ...        RR101                  1
2  1.313505e+14    3110.38  ...        RR101                  1
3  1.313505e+14    2583.50  ...        RR101                  1
4  1.313505e+14    2776.53  ...        RR101                  1

[5 rows x 10 columns]

In [ ]:
data.drop(columns="numberOfBuildings", inplace=True)
data.head()

                                                 url  ... building.sewer
0  api.bridgedataoutput.com/api/v2/pub/assessment...  ...            NaN
1  api.bridgedataoutput.com/api/v2/pub/assessment...  ...            NaN
2  api.bridgedataoutput.com/api/v2/pub/assessment...  ...            NaN
3  api.bridgedataoutput.com/api/v2/pub/assessment...  ...            NaN
4  api.bridgedataoutput.com/api/v2/pub/assessment...  ...            NaN

[5 rows x 17 columns]

In [ ]:
# We don't need url and id, so we add them to dump_df
dump_df["url"] = data["url"]
dump_df["id"] = data["id"]
dump_df.head()

          apn  ...             id
0  6-112 -030  ...  34287556-2019
1  6-112 -032  ...  34287558-2019
2  6-114 -241  ...  34288362-2019
3  6-114 -258  ...  34288378-2019
4  6-114 -260  ...  34288380-2019

[5 rows x 8 columns]

In [ ]:
data.drop(columns=["url", "id"], inplace=True)
data.head()

   building.noOfUnits building.quality  ... building.water building.sewer
0                 1.0                C  ...            Yes            NaN
1                 1.0                C  ...            Yes            NaN
2                 1.0                C  ...            Yes            NaN
3                 1.0                C  ...            Yes            NaN
4                 1.0                C  ...            Yes            NaN

[5 rows x 15 columns]

In [ ]:
print(data["building.noOfUnits"].unique())

# No. of units is confusing, so lets keep it in to the confusion_df
confusion_df["noOfUnits"] = data["building.noOfUnits"]
confusion_df.head()

[  1.  nan   2. 131.]

    censusTract  taxAmount  taxYear  ...  landUseCode  numberOfBuildings  noOfUnits
0  1.313505e+14     706.77   2019.0  ...        RR101                  1        1.0
1  1.313505e+14    2683.31   2019.0  ...        RR101                  1        1.0
2  1.313505e+14    3110.38   2019.0  ...        RR101                  1        1.0
3  1.313505e+14    2583.50   2019.0  ...        RR101                  1        1.0
4  1.313505e+14    2776.53   2019.0  ...        RR101                  1        1.0

[5 rows x 11 columns]

In [ ]:
data.drop(columns="building.noOfUnits", inplace=True)
data.head()

  building.quality building.condition  ... building.water  building.sewer
0                C            Average  ...            Yes             NaN
1                C            Average  ...            Yes             NaN
2                C            Average  ...            Yes             NaN
3                C            Average  ...            Yes             NaN
4                C            Average  ...            Yes             NaN

[5 rows x 14 columns]

In [ ]:
# What decides the building quality? A, B, C ???
# Lets add it into the confusion_df
confusion_df["quality"] = data["building.quality"]
confusion_df.head()

    censusTract  taxAmount  taxYear  ...  numberOfBuildings  noOfUnits  quality
0  1.313505e+14     706.77   2019.0  ...                  1        1.0        C
1  1.313505e+14    2683.31   2019.0  ...                  1        1.0        C
2  1.313505e+14    3110.38   2019.0  ...                  1        1.0        C
3  1.313505e+14    2583.50   2019.0  ...                  1        1.0        C
4  1.313505e+14    2776.53   2019.0  ...                  1        1.0        C

[5 rows x 12 columns]

In [ ]:
data.drop(columns="building.quality", inplace=True)
data.head()

  building.condition building.architecturalStyle  ...  building.water  building.sewer
0            Average               Ranch/Rambler  ...             Yes             NaN
1            Average                         NaN  ...             Yes             NaN
2            Average                         NaN  ...             Yes             NaN
3            Average                Conventional  ...             Yes             NaN
4            Average                         NaN  ...             Yes             NaN

[5 rows x 13 columns]

In [ ]:
# I think we can incoroporate:
# building condition, architecturalStyle, yearBuild, totalStories, totalRooms, totalbedrooms, baths, heating, ac, foundation, fireplace, water, sewer
# so lets add them to new_data
temp_df = data.iloc[:,:]
temp_cols = list(temp_df.columns)
print(temp_cols)
new_cols = list(map(lambda x: x.split('.')[1], temp_cols))
print(new_cols)
temp_cols_dict = dict(zip(temp_cols, new_cols))
print(temp_cols_dict)

['building.condition', 'building.architecturalStyle', 'building.yearBuilt', 'building.totalStories', 'building.totalRooms', 'building.bedrooms', 'building.baths', 'building.heating', 'building.airConditioning', 'building.foundation', 'building.fireplace', 'building.water', 'building.sewer']
['condition', 'architecturalStyle', 'yearBuilt', 'totalStories', 'totalRooms', 'bedrooms', 'baths', 'heating', 'airConditioning', 'foundation', 'fireplace', 'water', 'sewer']
{'building.condition': 'condition', 'building.architecturalStyle': 'architecturalStyle', 'building.yearBuilt': 'yearBuilt', 'building.totalStories': 'totalStories', 'building.totalRooms': 'totalRooms', 'building.bedrooms': 'bedrooms', 'building.baths': 'baths', 'building.heating': 'heating', 'building.airConditioning': 'airConditioning', 'building.foundation': 'foundation', 'building.fireplace': 'fireplace', 'building.water': 'water', 'building.sewer': 'sewer'}

In [ ]:
temp_df = temp_df.rename(columns=temp_cols_dict)
new_data = pd.concat([new_data, temp_df], axis=1)
new_data.head()

      city state house         street  ...          foundation fireplace  water  sewer
0  Lilburn    GA   510  Village Green  ...  Crawl Space/Raised   Masonry    Yes    NaN
1  Lilburn    GA   540  Village Green  ...  Crawl Space/Raised   Masonry    Yes    NaN
2  Lilburn    GA  5133          Arbor  ...  Crawl Space/Raised   Masonry    Yes    NaN
3  Lilburn    GA   215          Shunn  ...  Crawl Space/Raised   Masonry    Yes    NaN
4  Lilburn    GA   195          Shunn  ...  Crawl Space/Raised   Masonry    Yes    NaN

[5 rows x 28 columns]

In [ ]:
data.drop(columns=temp_cols, inplace=True)
data.head()

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [ ]:
'''We have processed all the individual features, we have 4 dataframes and 1 series:

    # Dataframes
    1. new_data: the collection of important features
    2. confusion_df: the confusing features that need to be discussed
    3. dump_df: the irrelevant features
    4. data: empty data, filtered from the raw data
    
    # Series
    1. housePrice: series of housing price that will be used as label to be predicted
'''

'We have processed all the individual features, we have 4 dataframes and 1 series:\n\n    # Dataframes\n    1. new_data: the collection of important features\n    2. confusion_df: the confusing features that need to be discussed\n    3. dump_df: the irrelevant features\n    4. data: empty data, filtered from the raw data\n    \n    # Series\n    1. housePrice: series of housing price that will be used as label to be predicted\n'

In [ ]:
# Nw we concat the housePrice label with the important features "new_data"
filtered_data = pd.concat([new_data, housePrice], axis=1)
filtered_data.head()

      city state house         street  ... fireplace water  sewer  housePrice
0  Lilburn    GA   510  Village Green  ...   Masonry   Yes    NaN      200300
1  Lilburn    GA   540  Village Green  ...   Masonry   Yes    NaN      193800
2  Lilburn    GA  5133          Arbor  ...   Masonry   Yes    NaN      197500
3  Lilburn    GA   215          Shunn  ...   Masonry   Yes    NaN      204700
4  Lilburn    GA   195          Shunn  ...   Masonry   Yes    NaN      195900

[5 rows x 29 columns]

In [ ]:
import os
if not os.path.exists("/content/Data"):
  os.mkdir("/content/Data")

In [ ]:
filtered_data.to_csv("Data/filtered_data.csv", index=False)
confusion_df.to_csv("Data/confusion_data.csv", index=False)
dump_df.to_csv("Data/dump_data.csv", index=False)

In [ ]:
from google.colab import files
BASE_DIR = "/content/Data/"
filenames = os.listdir(BASE_DIR)
for filename in filenames:
  file_path = BASE_DIR + filename
  files.download(file_path)

# NOTES
The data we have is the data belonging to Gwinnett of Georgia (GA). And the data quality is very poor, which required a significant pre-processing. The data is disoriented, imbalanced, incomplete, unordered, including irrelevant features, categorical and numerical features. Therefore, a lot of pre-processing is done in the context.

We have processed all the individual features independently and finally created the following four dataframes and Series.

**Dataframes**
  1. *new_data*: the collection of important features
  2. *confusion_df*: the confusing features that need to be discussed
  3. *dump_df*: the irrelevant features
  4. *data*: empty data, filtered from the raw data

**Series**
1. *housePrice*: series of housing price that will be used as label to be predicted